@model CuaHang.Models.LoaiHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 class="text-center">Chỉnh sửa Loại hàng</h2>

<form style="max-width: 500px" class="was-validated m-auto" asp-action="Edit" method="post">
    @Html.HiddenFor(model => model.MaLH)

    <div class="form-floating my-3">
        @Html.TextBoxFor(model => model.TenLH, new { @class = "form-control", placeholder = "", required = "required" })
        <label for="TenHH">Tên sản phẩm</label>
    </div>

    <button type="submit" class="btn btn-primary w-25">Sửa</button> |
    <a class="btn text-primary" href="/LoaiHang/Index">Quay lại</a>
</form>
